root = true

[*.{php,neon,yml,yaml,css,js,json,twig,latte,html,css,xml,yml,yaml,neon,php}]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4
