.coveralls.yml export-ignore
.editorconfig export-ignore
.gitattributes export-ignore
easy-coding-standard.neon export-ignore
LICENSE export-ignore
phpstan.neon export-ignore
phpunit.xml export-ignore
docs/ export-ignore
*.md export-ignore
packages/*/docs/ export-ignore

# part of Statie templates
# .gitignore export-ignore
# .travis.yml export-ignore

# To ensure the line feeds aren't modified by git
# see https://github.community/t5/GitHub-Actions/git-config-core-autocrlf-should-default-to-false/td-p/30445
* -text
