.idea

# composer
/vendor
composer.lock

# node
/node_modules
package-lock.json

# phpunit
.phpunit.result.cache

packages/easy-coding-standard/vendor/
packages/easy-coding-standard/tmp/
packages/git-wrapper/tests/build

php-scoper.phar
