checkers:
    - Symplify\CodingStandard\Fixer\ClassNotation\PropertyAndConstantSeparationFixer
    Symplify\CodingStandard\Fixer\ClassNotation\LastPropertyAndFirstMethodSeparationFixer:
        space_count: 2