includes:
    - 'packages/PHPStanExtensions/src/config/config.neon'
    - 'vendor/thecodingmachine/phpstan-strict-rules/phpstan-strict-rules.neon'
#    - 'vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon'

parameters:
    excludes_analyse:
        - *packages/MonorepoBuilder/packages/Init/templates/*
        - *packages/CodingStandard/tests/**/correct*
        - *packages/CodingStandard/tests/**/wrong*
        # tests
        - packages/EasyCodingStandard/tests/Finder/FinderSanitizerSource/NestedDirectory/FileWithClass.php
        - packages/EasyCodingStandard/packages/SniffRunner/tests/Application/FileProcessorSource/ReferenceUsedNamesOnlySniff/
        # Symfony workaround
        - packages/ChangelogLinker/src/DependencyInjection/Dummy/ResolveAutowiringExceptionHelper.php

    autoload_files:
        - %currentWorkingDirectory%/tests/bootstrap.php
        - packages/EasyCodingStandard/packages/ChangedFilesDetector/tests/ChangedFilesDetectorSource/OneClass.php
        - packages/EasyCodingStandard/tests/Finder/SourceFinderSource/Source/SomeClass.php

    ignoreErrors:
        # 0.10.2 false positives - all: (new SplFileInfo(...))->getRealPath()
        - '#Parameter \#1 \$absoluteFilePath of method Symplify\\EasyCodingStandard\\Skipper::fileMatchesPattern\(\) expects string, string\|false given#'
        - '#Parameter \#1 \$file of method Symplify\\LatteToTwigConverter\\LatteToTwigConverter::convertFile\(\) expects string, string\|false given#'
        - '#Method Symplify\\PackageBuilder\\Configuration\\LevelFileFinder::detectFromInputAndDirectory\(\) should return string|null but returns string\|false#'
        - '#Parameter \#1 \$filename of function filesize expects string, string\|false given#'
        - '#Parameter \#1 \$str of function substr expects string, string\|false given#'
        - '#Parameter \#1 \$relativePath of method Symplify\\EasyCodingStandard\\Skipper::removeFileFromUnused\(\) expects string, string\|false given#'
        - '#Parameter \#1 \$filename of function md5_file expects string, string\|false given#'
        - '#Parameter \#1 \$(.*?) of function (substr|file_put_contents) expects string, string\|false given#'
        - '#Parameter \#2 \$absoluteFilePath of method Symplify\\EasyCodingStandard\\Skipper::shouldSkipCodeAndFile\(\) expects string, string\|false given#'
        - '#Parameter \#2 \$absoluteFilePath of method Symplify\\EasyCodingStandard\\Skipper::shouldSkipCheckerAndFile\(\) expects string, string\|false given#'
        - '#Parameter \#1 \$filePath of method Symplify\\EasyCodingStandard\\FixerRunner\\Parser\\FileToTokensParser::parseFromFilePath\(\) expects string, string\|false given#'
        - '#Parameter \#1 \$filePath of method Symplify\\EasyCodingStandard\\ChangedFilesDetector\\FileHashComputer::compute\(\) expects string, string\|false given#'
        - '#Parameter \#1 \$str of function sha1 expects string, string\|false given#'
        # end

        # part of test / bugged
        - '#Parameter \#1 \$finder of method Symplify\\EasyCodingStandard\\Finder\\FinderSanitizer::sanitize\(\) expects \(iterable<SplFileInfo>&Nette\\Utils\\Finder\)\|Symfony\\Component\\Finder\\Finder, (array<int, SplFileInfo>|array<Symfony\\Component\\Finder\\SplFileInfo>|(Nette\\Utils\\Finder\|Symfony\\Component\\Finder\\Finder)) given#'

        # temporary
        - '#Parameter \#1 \$e of method Symfony\\Component\\Console\\Application::renderException\(\) expects Exception, Throwable given#'

        - '#Symplify\\EasyCodingStandard\\SniffRunner\\File\\File::__construct\(\) does not call parent constructor from PHP_CodeSniffer\\Files\\File#'

        # lvl 7
        - '#Parameter \#2 \$config of class PHP_CodeSniffer\\Tokenizers\\PHP constructor expects PHP_CodeSniffer\\Config\|null, PHP_CodeSniffer\\Config\|stdClass given#'
        - '#Parameter \#1 \$id of class Symfony\\Component\\DependencyInjection\\Reference constructor expects string, string\|null given#'

        # is valid code, known values
        - '#Method Symplify\\MonorepoBuilder\\ComposerJsonDecorator\\AutoloadRelativePathComposerJsonDecorator::prefixPath\(\) should return array<string>\|string but returns array<array<string>\|string>#'
        - '#Access to an undefined property PHPStan\\PhpDocParser\\Ast\\(Type\\TypeNode::\$name|PhpDoc\\PhpDocTagValueNode::\$type)#'

        - '#Parameter \#3 \$end of method PHP_CodeSniffer\\Files\\File::findNext\(\) expects int\|null, bool\|int given#'
        - '#Parameter \#1 \$generatorFiles of method Symplify\\Statie\\Generator\\Contract\\ObjectSorterInterface::sort\(\) expects array<Symplify\\Statie\\Generator\\Renderable\\File\\AbstractGeneratorFile>, array<Symplify\\Statie\\Renderable\\File\\AbstractFile> given#'

        - '#Parameter \#1 \$phpDocTagValueNode of method Symplify\\BetterPhpDocParser\\PhpDocInfo\\AbstractPhpDocInfoDecorator::isValueNodeWithType\(\) expects PHPStan\\PhpDocParser\\Ast\\PhpDoc\\PhpDocTagValueNode, PHPStan\\PhpDocParser\\Ast\\Node given#'
        - '#Property PHPStan\\PhpDocParser\\Ast\\PhpDoc\\PhpDocTagNode::\$value \(PHPStan\\PhpDocParser\\Ast\\PhpDoc\\PhpDocTagValueNode\) does not accept PHPStan\\PhpDocParser\\Ast\\Node#'
        - '#Method Symplify\\BetterPhpDocParser\\PhpDocInfo\\AbstractPhpDocInfoDecorator::traverseTypeNode\(\) should return PHPStan\\PhpDocParser\\Ast\\Type\\TypeNode but returns PHPStan\\PhpDocParser\\Ast\\Node#'
        - '#Array \(array<PHPStan\\PhpDocParser\\Ast\\Type\\TypeNode>\) does not accept PHPStan\\PhpDocParser\\Ast\\Node#'

        # invalid 3rd party-code
        - '#Call to an undefined method Psr\\Cache\\CacheItemInterface::tag\(\)#'
        - '#Parameter \#1 \$types of method PHP_CodeSniffer\\Files\\File::findNext\(\) expects array\|int, string given#'

        - '#Parameter \#1 \$index of method PhpCsFixer\\Tokenizer\\Tokens::getNextTokenOfKind\(\) expects int, int\\|null given#'
        - '#Parameter \#2 \$start of method PHP_CodeSniffer\\Files\\File::findNext\(\) expects int, int\|true given#'
        - '#Variable \$processedFileContent might not be defined#'
        - '#Property Symplify\\TokenRunner\\Wrapper\\FixerWrapper\\ClassWrapper::\$startBracketIndex \(int\) does not accept int\|null#'
        - '#Method Symplify\\EasyCodingStandard\\Finder\\FinderSanitizer::turnInfoSymfonyFileInfos\(\) should return array<Symfony\\Component\\Finder\\SplFileInfo> but returns array<SplFileInfo>#'
        - '#Method Symplify\\Statie\\Latte\\Tests\\Renderable\\LatteFileDecoratorTest::createFileFromFilePath\(\) should return Symplify\\Statie\\Renderable\\File\\File but returns Symplify\\Statie\\Renderable\\File\\AbstractFile#'

        # known values
        - '#Parameter \#2 \$start of method PHP_CodeSniffer\\Files\\File::findNext\(\) expects int, bool\|int given#'
        - '#Parameter \#3 \$end of method PHP_CodeSniffer\\Files\\File::findNext\(\) expects int\|null, int\|true given#'

        # Token Runner
        - '#Call to an undefined method Symfony\\Component\\DependencyInjection\\ContainerInterface::getParameterBag()#'

        # buggy
        - '#Symplify\\EasyCodingStandard\\Contract\\Application\\DualRunInterface#'

        # object
        - '#does not accept object#'
        - '#Call to an undefined method object#'

        # intersect/union buggy
        - '#Parameter \#(2|3) \$items of method PhpCsFixer\\Tokenizer\\Tokens::(insertAt|overrideRange)\(\) expects (\()?iterable<PhpCsFixer\\Tokenizer\\Token>&PhpCsFixer\\Tokenizer\\Tokens(\))?(\|PhpCsFixer\\Tokenizer\\Token)?, array<(int, )?PhpCsFixer\\Tokenizer\\Token> given#'
        - '#expects Symfony\\Component\\DependencyInjection\\ContainerBuilder, Symfony\\Component\\DependencyInjection\\ContainerInterface given#'

        # phpstan 0.10 news
        - '#Cannot access property \$type on PHPStan\\PhpDocParser\\Ast\\PhpDoc\\VarTagValueNode\|null#'
        - '#Parameter \#1 \$children of class PHPStan\\PhpDocParser\\Ast\\PhpDoc\\PhpDocNode constructor expects array<PHPStan\\PhpDocParser\\Ast\\PhpDoc\\PhpDocChildNode>, array<int, PHPStan\\PhpDocParser\\Ast\\Node> given#'
        - '#Property Symplify\\BetterPhpDocParser\\Printer\\PhpDocInfoPrinter::\$nodeWithPositionsObjectStorage \(iterable<Symplify\\BetterPhpDocParser\\PhpDocNodeInfo>\&Symplify\\BetterPhpDocParser\\PhpDocParser\\Storage\\NodeWithPositionsObjectStorage\) does not accept Symplify\\BetterPhpDocParser\\PhpDocParser\\Storage\\NodeWithPositionsObjectStorage#'
        - '#Cannot access property \$name on PHPStan\\PhpDocParser\\Ast\\Type\\TypeNode\|null#'
        - '#Parameter \#3 \$length of function substr expects int, int\|false given#'
        - '#If condition is always false#'
        - '#If condition is always true#'
        - '#Cannot call method contains\(\) on array<array<string>>\|SplObjectStorage#'
        - '#Cannot call method attach\(\) on array<array<string>>\|SplObjectStorage#'
        - "#Casting to array something that's already array#"
        - '#Parameter \#1 \$string of function strlen expects string, string\|false given#'
        - '#Method Symplify\\EasyCodingStandard\\Finder\\SourceFinder::find\(\) should return array<Symfony\\Component\\Finder\\SplFileInfo> but returns array<SplFileInfo>#'
        - '#Property Symplify\\EasyCodingStandard\\Yaml\\CheckerServiceParametersShifter::\$serviceKeywords \(array<string>\) does not accept ReflectionProperty#'
        - '#Method Symplify\\EasyCodingStandard\\Tests\\Indentation\\IndentationTest::getIndentationTypeFixerFromContainer\(\) should return PhpCsFixer\\Fixer\\Whitespace\\IndentationTypeFixer but returns PhpCsFixer\\Fixer\\FixerInterface\|null#'
        - '#Parameter \#1 \$path of function dirname expects string, string\|false given#'
        - '#Method Symplify\\PackageBuilder\\Console\\Command\\CommandNaming::getShortClassName\(\) should return string but returns string\|null#'
        - '#Method Symplify\\PackageBuilder\\Tests\\Console\\ThrowableRendererTest::getTestErrorOutput\(\) should return string but returns string\|false#'
        - '#Cannot access offset (.*?) on Symplify\\Statie\\Generator\\Renderable\\File\\AbstractGeneratorFile#'
        - '#Property Symplify\\Statie\\Configuration\\Configuration::\$sourceDirectory \(string\) does not accept string\|false#'
        - '#Parameter \#1 \$stack of function array_pop expects array, array<int, string>\|false given#'
        - '#Cannot call method getContent\(\) on Symplify\\Statie\\Renderable\\File\\AbstractFile\|null#'
        - '#Cannot call method getStart\(\) on Symplify\\TokenRunner\\Analyzer\\FixerAnalyzer\\BlockInfo\|null#'
        - '#Method Symplify\\TokenRunner\\Analyzer\\SnifferAnalyzer\\CognitiveComplexityAnalyzer::getMeasuredNestingLevel\(\) should return int but returns float\|int#'
        - '#Cannot call method getEndIndex\(\) on PhpCsFixer\\Tokenizer\\Analyzer\\Analysis\\NamespaceAnalysis\|null#'
        - '#Cannot call method getStartIndex\(\) on PhpCsFixer\\Tokenizer\\Analyzer\\Analysis\\NamespaceUseAnalysis\|null#'

        # getcwd
        - '#Parameter \#1 \$gitDirectory of method Symplify\\MonorepoBuilder\\Split\\Git\\GitManager::getMostRecentTag\(\) expects string, string\|false given#'
        - '#Parameter \#1 \$str of function rtrim expects string, string\|false given#'

        # mixed type
        - '#Call to an undefined method Psr\\Container\\ContainerInterface::getParameter\(\)#'

        # variadic
        - '#In method (.*?), parameter (.*?) can be type-hinted to "array"#'
        - '#PHPDoc tag \@param for parameter (.*?) with type array is not subtype of native type array<int, mixed>#'