<phpunit
    bootstrap="tests/bootstrap.php"
    colors="true"
    verbose="true"
>
    <testsuite>
        <directory>packages/**/tests</directory>
    </testsuite>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">packages/*/src</directory>
        </whitelist>
    </filter>
    <!-- listener to run after every single test -->
    <listeners>
        <listener class="Symplify\Tests\PHPUnit\Listener\ClearLogAndCacheTestListener" />
    </listeners>
    <php>
        <const name="PHPUNIT_RUN" value="true"/>
    </php>
</phpunit>
