<?xml version="1.0"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    bootstrap="tests/bootstrap.php"
    colors="true"
    verbose="true"
>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">packages/*/src</directory>
        </include>
    </coverage>
    <testsuite name="all">
        <directory>packages/**/tests</directory>
        <directory>packages/**/packages/**/tests</directory>
    </testsuite>
    <groups>
        <exclude>
            <group>api</group>
        </exclude>
    </groups>
    <!-- to differentiate cache directory of EasyCodingStandards in tests -->
    <php>
        <env name="TEST_SUFFIX" value="_tests"/>
    </php>
</phpunit>
