<phpunit
    bootstrap="tests/bootstrap.php"
    colors="true"
    verbose="true"
>
    <testsuite name="all">
        <directory>packages/**/tests</directory>
    </testsuite>
    <groups>
        <exclude>
            <group>api</group>
        </exclude>
    </groups>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">packages/*/src</directory>
        </whitelist>
    </filter>
    <!-- to differentiate cache directory of EasyCodingStandards in tests -->
    <php>
        <env name="TEST_SUFFIX" value="_tests"/>
    </php>
</phpunit>
