application:
	scanDirs: false
	scanComposer: false

services:
	- Symplify\NetteAdapterForSymfonyBundles\Tests\ContainerSource\ParameterStorage(1, [2, 3])
	- Symplify\NetteAdapterForSymfonyBundles\Tests\ContainerSource\AutowiredService
	- Symplify\NetteAdapterForSymfonyBundles\Tests\ContainerSource\SomeService

extensions:
	symfonyBundles: Symplify\NetteAdapterForSymfonyBundles\DI\NetteAdapterForSymfonyBundlesExtension

symfonyBundles:
	bundles:
		- Doctrine\Bundle\FixturesBundle\DoctrineFixturesBundle
		- League\Tactician\Bundle\TacticianBundle
		alice: Hautelook\AliceBundle\HautelookAliceBundle

	parameters:
		alice:
			locale: cs_CZ
