application:
	scanDirs: false
	scanComposer: false

extensions:
	symfonyBundles: Symplify\NetteAdapterForSymfonyBundles\DI\NetteAdapterForSymfonyBundlesExtension

services:
	- Symplify\NetteAdapterForSymfonyBundles\Tests\Container\ParametersSource\CustomMiddleware

symfonyBundles:
	bundles:
		tactician: League\Tactician\Bundle\TacticianBundle

	parameters:
		tactician:
			commandbus:
				default:
					middleware:
						- @Symplify\NetteAdapterForSymfonyBundles\Tests\Container\ParametersSource\CustomMiddleware
						- tactician.middleware.locking
						- tactician.middleware.command_handler
